In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
data = pd.read_csv("train.csv")

In [72]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

### Question_B

In [73]:
a = ['kmpl','km/kg']
     
for i in range(len(a)):
     data['Mileage'] = data['Mileage'].str.replace(a[i],'')

In [74]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461 CC,63.1 bhp,5.0,NaN,3.50

In [75]:
data['Engine'] = data['Engine'].str.replace("CC",'')

In [76]:
data['Power'] = data['Power'].str.replace("bhp",'')

In [77]:
Removed_Units = data.to_csv('C:/Users/Yaswanth/Desktop/PDS_Assignment_2/Removed_Units.csv')

In [78]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50

### Question_A

In [79]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [80]:
data.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [81]:
data.shape

(5847, 13)

#### removed New_Price column because of more NULL values.

In [82]:
data.drop("New_Price",axis=1, inplace=True)

#### For Engine & Seats we are filled the Null values by using mode() beacause it is a categorical data.

In [83]:
data['Engine'].fillna(data['Engine'].mode()[0],inplace=True)

In [84]:
data['Seats'].fillna(data.Seats.mode()[0],inplace=True)

In [85]:
data.Mileage.astype(float).max()

28.4

In [86]:
data.Mileage.astype(float).min()

0.0

In [87]:
data.Mileage.astype(float).mean()

18.158496150556033

In [88]:
data.Mileage.astype(float).median()

18.19

In [89]:
data.Power.astype(float).mean()

113.80314403717087

In [90]:
data.Power.astype(float).min()

34.2

In [91]:
data.Power.astype(float).max()

560.0

#### From the above Min, Max, Median for Mileage and Power columns of the data so we can conclude Mileage is a  Normal Distribution.Power is a Skewed Distribution. Both are Numerical type.

In [92]:
data['Mileage'].fillna(data.Mileage.mode()[0],inplace=True)

In [93]:
data['Power'].fillna(data.Power.mode()[0],inplace=True)

In [94]:
data.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [95]:
Missing_Values = data.to_csv('C:/Users/Yaswanth/Desktop/PDS_Assignment_2/Missing_Values.csv')

In [96]:
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,3.50

### Question_C

In [97]:
data = pd.get_dummies(data, columns=['Fuel_Type','Transmission'])

In [98]:
One_hot = data.to_csv('C:/Users/Yaswanth/Desktop/PDS_Assignment_2/One_hot.csv')

In [99]:
data.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,12.50,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,4.50,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,6.00,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.2,1968,140.8,5.0,17.74,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,3.50,1,0,0,0,1

### Question_D

In [100]:
type = []
for i in data['Seats']:
    if i<=5.0:
        type.append('Sedan')
    else:
        type.append('SUV')
data['car_type'] = type

In [101]:
new_feature = data.to_csv('C:/Users/Yaswanth/Desktop/PDS_Assignment_2/new_feature.csv')

In [102]:
data.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,car_type
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,12.50,1,0,0,0,1,Sedan
1,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,4.50,0,0,1,0,1,Sedan
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,6.00,1,0,0,0,1,SUV
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.2,1968,140.8,5.0,17.74,1,0,0,1,0,Sedan
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,3.50,1,0,0,0,1,Sedan